html, body {
  height: 100%;
}
body {
  font-family: “Lato”, sans-serif;
  background-color: rgb(255, 255, 255);
  color: rgb(135, 135, 135);
  font-size: calc(20px + 2vmin);
  text-align: left;
}

a {
  color: rgb(156, 156, 156);
  padding: 1px;
  cursor: pointer;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

 /* make everything a bit smaller */
 h1 {
  padding-left: 10px;
  font-size: 50px;
 }
 h2 {
  padding-left: 10px;
  font-size: 40px;
 }
 h3 {
  padding-left: 10px;
  font-size: 30px;
 }
 h4 {
  padding-left: 10px;
  font-size: 25px;
 }
 p {
  padding-left: 20px;
  font-size: 20px;
 }

.intro {
  display: flex;
  align-items: left;
  justify-content: space-evenly;
  margin-top: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: rgb(255, 255, 255);
  padding-left: 20px;
}

.header {
  background-color: rgb(68, 85, 112);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.work {
  padding-left: 20px;
  padding-right: 20px;
}

.workTitle {
 display: flex;
  align-items: left; 
}
.work:hover {
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.5), 0 5px 50px 0 rgba(0, 0, 0, 0.5);
  background-color: rgb(235, 235, 235);
}

img {
    max-width:30%;
    max-height:30%;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.5), 0 5px 50px 0 rgba(0, 0, 0, 0.5);
    flex-basis: 40%;
}

footer {
  background-color: rgb(68, 85, 112);
  color:rgb(156, 156, 156);
  width: 100%;
}

button {
  font-family: “Lato”, sans-serif;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  background-color: transparent;
  border-color: transparent;
  font-weight: bold;
  color: rgb(156, 156, 156);
}

h2 {
  color: rgb(68, 68, 68);
}

hr { 
  margin-top:-35px; 
  margin-bottom: -35px;
}