body {
  font-family: 'Helveltica', sans-serif;
  background-color: black;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  margin: 5px;
  text-align: center;
  margin: 10px;
}


footer {
  padding-top: 20px;
  background-color: black;
}

button {
  padding: 10px;
  margin: 10px;
  font-size: larger;
  cursor: pointer;
  background-color: transparent;
}

#cs {
  border-color: rgb(76, 0, 255);
  color: white;
}

#cs:hover {
  background-color: rgb(76, 0, 255);
}

#math {
  border-color: rgb(0, 189, 154);
  color: white;
}

#math:hover {
  background-color: rgb(0, 189, 154);
}

#spanish {
  border-color: rgb(221, 0, 255);
  color: white;
}

#spanish:hover {
  background-color: rgb(221, 0, 255);
}

#homeIcon {
  border: none;
  color: white;
  font-size: larger;
  left: 5px;
}

h1 {
  color:lightgray;
}

h2 {
  color: rgb(137, 182, 255);
}

h3 {
  color: rgb(235, 179, 255);
}

h4 {
  color: rgb(145, 255, 207);
}

a {
  padding: 5px;
}

